parameters:
    message_redirect.service.class: CubicMushroom\MessageRedirectBundle\Service\MessageRedirect
    message_redirect.event_listener.class: CubicMushroom\MessageRedirectBundle\EventListener\MessageRedirectListener

services:
    message_redirect:
        class: %message_redirect.service.class%

    kernel.listener.message_redirect:
        class: %message_redirect.event_listener.class%
        calls:
            - [setDebug, [%kernel.debug%]]
            - [setFlashBag, [@session.flash_bag]]
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException }