{% for flashMessage in app.session.flashbag.get('message_redirect.message') %}
    <div class="mr-flash-notice {{ flashClasses|default('') }}
    {{ flashClassesMap[flashMessage.messageType]|default(flashMessage.messageType) }}">
        {% block mr_message %}{{ flashMessage.message }}{% endblock mr_message %}
    </div>
{% endfor %}